$colorprincipal: #205781;
$colorsecundario: #4F959D;
$color3: #98D2C0;
$color4: #F6F8D5;
$color5: #78c7b3;

//footer
$footer-bg: #111;
$footer-text: #eee;
$footer-accent: #4facfe;

// header

$primary: #007bff;
$primary-dark: #0056b3;
$gradient: linear-gradient(90deg, #4facfe, #00f2fe);

$text-dark: #333;
$text-medium: #555;
$text-light: #777;

$bg-light: #f9f9f9;
$bg-white: #fff;

$radius: 1rem;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

// Paleta servicios
$primary: #2563eb; // azul moderno
$secondary: #1e293b; // gris oscuro
$light: #f8fafc; // fondo claro
$shadow: rgba(0, 0, 0, 0.1);