@import "variables";
@import "header";
@import "main";
@import "forms";
@import "footer";


body {background-color: $color4;}
h1 {
  text-align: center;
  color: $colorprincipal;
  font-family: "Roboto";
  font-size: "20px";
}

h2 {
  color: $colorsecundario;
  font-family: "Roboto";
  font-size: "18px";
}