$colorprincipal: #205781;
$colorsecundario: #4F959D;
$color3: #98D2C0;
$color4: #F6F8D5;
$color5: #78c7b3;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {background-color: $color4;}
h1 {
  color: $colorprincipal;
  font-family: "Roboto";
  font-size: "20px";
}

h2 {
  color: $colorsecundario;
  font-family: "Roboto";
  font-size: "18px";
}